#calendar th, #calendar td{
    text-align: center;
}

#calendar .weekdays-row th {
    background-color: #fff;
}

#calendar .calendar-selected-day a {
    font-weight: bold;color:red;
}
#calendar .selected-day {
    font-weight: bold;
/*    background-color: red;*/
    border:1px solid #E00000;
}